version: 2
jobs:
  build:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Build Image
          command: |
            CIRCLE_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
            echo $CIRCLE_TAG
            make
  deploy:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Push Image
          command: |
            make
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            make docker_push
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
